.comment-container {
  display: flex;
  width: 100%;
  margin: 15px 0;

  @media screen and (max-width: 768px) {
    width: 90%;
    margin: 20px auto;
  }
}

.user-image {
  min-width: 60px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.comment-details {
  border: 1px solid #dadada;
  border-radius: 3px;
  width: calc(100% - 80px);
  margin-left: 20px;

  .comment-body {
    padding: 0 15px;
    margin: 0;
  }

  .comment-header {
    border-bottom: 1px solid #dadada;
    background-color: whitesmoke;
    padding: 7px;
  }

  pre {
    background-color: whitesmoke;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }
}
