<div *ngIf="!tokenSet" class="search-container">
  <span style="display: flex; margin: 20px">This is a small copy of github which lets you to search for Angular Github Repo issues using GraphQL and Github's API. In order to use this you have to generate a Personal Access Token from github and paste it here.
    This will be saved on local storage of this app, and you can delete it whenever you want.</span>
  <div class="search-items">
    <input type="text" [(ngModel)]="tokenModel" placeholder="Type personal access token here">
    <button class="primary" (click)="saveTokenOnLS()">Save in local storage</button>
  </div>
</div>
<div class="search-container" *ngIf="tokenSet">
  <div class="search-items">
    <div class="dropdown-wrapper">
      <app-dropdown [items]="searchItems"
                    [label]="'text'"
                    [value]="'value'"
                    (emitModelChange)="searchIssues($event, null)"
                    [(model)]="chosenSearchCriteria"></app-dropdown>
    </div>
    <input type="text" [(ngModel)]="searchText" placeholder="Search github issues">
    <button class="primary" (click)="searchIssues(chosenSearchCriteria, null)">Search</button>
  </div>

  <ng-container *ngIf="issues | async; else loading">
    <div class="total-issues">
      Number of Issues: {{totalIssues}}
    </div>
    <div *ngFor="let issue of issues | async">
      <app-issue-card (click)="getSpecificIssue(issue)" [issue]="issue"></app-issue-card>
    </div>

    <div class="manipulate-pages">
      <button class="primary" [disabled]="pageInfo && !pageInfo.hasPreviousPage"
              (click)="searchIssues(chosenSearchCriteria, 'previous')">Previous
      </button>
      <button class="primary" [disabled]="pageInfo && !pageInfo.hasNextPage"
              (click)="searchIssues(chosenSearchCriteria, 'next')">Next
      </button>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="loader loading-center">
      <i-feather name="loader"></i-feather>
    </div>
  </ng-template>

</div>
